.PadreHomeVisitante {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.invitadoHome {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex: 1 0 auto;
  overflow: auto;
}

.left-container-visitante {
  min-width: 65%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  overflow: auto;
}

.h1-visitante {
  margin-bottom: 40px;
}

.card-style-mt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


/* Estilos adicionales para el botón */
.extra-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.extra-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .right-container {
    position: fixed;
    top: 50%;
    left: calc(50% + 500px);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {

  .invitadoHome {
    flex-direction: column;
    height: 100vh;
  }

  .left-container-visitante{
    width: 100%;
    height: 73%; /* Ajusta la altura según sea necesario */
    display: flex;
    background-color: white;
    justify-content: flex-start; /* Alinea el contenido al principio */
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    overflow-y: auto; /* Muestra la barra de desplazamiento solo en el eje y */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
  }
  

  .right-container{
    display: flex !important;
    min-width: 35% !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px !important;
  }
}
