.invitadoHome {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.left-container {
  min-width: 65%;
  height: 100vh;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1-visitante {
  margin-bottom: 40px;
}

.card-style-mt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: flex;
  min-width: 35%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

/* Estilos adicionales para el botón */
.extra-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.extra-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .invitadoHome {
    flex-direction: column;
  }
}

