h2{
    font-size: 3vh;
    font-family: var(--poppi);
    color: var(--blue);
    font-weight: normal;
}

.Left{
    min-width: 50%;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--poppi), sans-serif;
    
}

.Right{
    background-color: black;
    min-width: 50%;
    height: 100vh;
}

#stay{
    background-color: black;
    min-width: 50%;
    height: 100vh;
}

.father{
    display: flex;
    flex-direction: row;
}

.QR_Button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 30vh;
    flex-direction: column;
    background-color: var(--blue);
    border-radius: var(--rad);
    border: 0cap;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background-color: var(--skyeblue);
    }

    .icon{
        font-size: 22vh;
        color: white;
    }
    span{
        font-size: 3vh;
        color: white;
        font-family: --poppi, sans-serif;
    }
}

h4{
    font-family: --poppi, sans-serif;
    font-weight: normal;
    width: 20vh;
    text-align: center;
    font-size: 1.8vh;
}


@media (max-width: 768px) {
    .father{
        flex-direction: column; 

        .Left{
            min-height: 40vh;
            max-height: 70vh;
            box-sizing: border-box;
        }
        .Right{
            display: none;
        }
        #stay{
            height: auto;
        }
    }
}