.padreVisitante{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.invitacionA-home {
  display: flex;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  flex: 1 0 auto;
  overflow: auto;
}


.invitacionA-h1-visitante {
  margin-bottom: 40px;
}

.invitacionA-card-style-mt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.invitacionA-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.invitacionA-extra-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
}

.invitacionA-extra-button:hover {
  background-color: #0056b3;
}

.invitacionA-button-container a {
  font-size: 20px;
}

@media (min-width: 768px) {
  .invitacionA-right-container {
    position: fixed;
    top: 50%;
    left: calc(50% + 500px);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invitacionA-left-container {
    min-width: 65%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
}

/* Media Queries para hacer la vista responsive */
@media (max-width: 768px) {
  .invitacionA-home {
    flex-direction: column;
    height: 100vh;
  }

  .invitacionA-left-container {
    min-width: 65%;
    display: flex;
    height: max-content;
    background-color: white;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 40px;
  }

  .invitacionA-right-container{
    display: flex !important;
    min-width: 35% !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: aliceblue;
  }
}
