.card-container{
    width: 450px;
    height: auto;
    border-radius: 28px;
    background-color: var(--accent);
    padding: 1.1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    
}
.card-container h1{
    font-size: 22px;
    font-weight: 600;
}
.card-container h2{
    font-size: 19px;
    font-weight: 400;
}
.text{
    font-size: 19px;
}

.dia-container{
    margin-right: 40px;
}

.contentCard{
    margin-left: 15px;
}

.down-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
    margin-bottom: 2px;
}

.qr-reminder{
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 15px;
}