@import url('../../../assets/vars.css');

.Left{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Hint{
        display: flex;
        font-size: var(--font-size);
        background-color: var(--skyeblue);
        color: var(--blue);
        margin-top: 2rem;
        font-weight: normal;
        padding: 1rem;
        width: 30vh;
        flex-flow: row;
        align-items: center;
        text-align: left;
        border-radius: var(--rad);

        .icon{
            margin-right: 20px;
        }
    }

    .myQR{
        width: 30vh;
    }

    /* .slim_button{
        background-color: var(--blue);
        color: white;
        padding: 0.5rem 2rem;
        border-radius: var(--big-rad);
        font-size: var(--font-size); 
        cursor: pointer;
        transition: 0.3s;
        font-family: --poppi, sans-serif;
        text-transform: none;

        &:hover{
            background-color: var(--skyeblue);
        }

        .button_icon{
            margin-right: 0.5rem;
        }
    
    } */
}


.Right{
    background-color: black;

}

.father{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    font-family: --poppi, sans-serif;
}